.container{
    text-align:center;
}

i{
    font-size:30px;
    border:1px solid gray;
    color:blueviolet;
    border-radius:50%;
    padding:15px;
    transition: background 0.3s;
    
}

i:hover{
    background-color:red;
    color:white;
    cursor:pointer;
}

